/* ================================================ */
/*           		 CSS Animations         		*/
/* ================================================ */

/*** Modal Animation ***/

@keyframes fadeIn
	0%
		background rgba(0,0,0,0)
	100%
		background rgba(0,0,0,.35)
		
@keyframes fadeOut 
	0%
		background rgba(0,0,0,.35)
	99%
		background rgba(0,0,0,.0)
	100%
		background rgba(0,0,0,.0)
		visibility hidden
		
@keyframes scaleUp
	0% 
		transform scale(.8) translateY(-500px)
		opacity 0
	100% 
		transform scale(1) translateY(0px)
		opacity 1

@keyframes scaleDown 
	0% 
		transform scale(1) translateY(0px)
		opacity 1
	99%
		transform scale(.8) translateY(-500px)
		opacity 0
	100%
		visibility hidden
		
.fadeOut 
	animation fadeOut 1s

.scaleDown 
	animation scaleDown 1s