/* ================================================ */
/*            		Button's Styles      		    */
/* ================================================ */

@import './colors.styl'; //Import colors styles do to alphabetical partials order

.cool-button 
	background lightBlue
	border-bottom 2px solid blue !important
	text-shadow 0 0 1px rgba(255,255,255,0.5) //stylisssh button
	
.button 
	border none
	border-radius 0 
	cursor pointer
	font-size 1.2rem
	padding 0.75rem 1rem
	text-transform uppercase
	
.button:focus
	outline none