/* ================================================ */
/*               Carousel Component Styles          */
/* ================================================ */
	
.carousel
	height calc(100vh - 4.5rem)
	overflow hidden
	position relative
	width 100vw
		
.carousel-images
	background-size cover
	height 100%
	left 0
	position absolute
	width 100%
 
.translate-enter 
	transform translateX(100vw)


.translate-enter.translate-enter-active 
	transform translateX(0)
	transition all 2000ms ease-in-out


.translate-leave 
	transform translateX(0)


.translate-leave.translate-leave-active 
	transform translateX(-100vw)
	transition all 2000ms ease-in-out
