/* ================================================ */
/*              Dashboard Component Styles          */
/* ================================================ */

.content-box 
	background white
	border 1px solid blue
	border-right 3px solid blue
	border-bottom 3px solid blue
	
.content-box-4
	width 24%
	
.content-box-8
	WIDTH 74%

.content-box-body 
	padding 2.5rem

.content-box-row 
	padding 1.5rem 2.5rem

.content-box-row:nth-child(even)
	background alpha(lightBlue, 0.08) 

.content-box-table 
	max-height 53rem
	overflow scroll		
.content-box-title
	background blue
	color white
	font-size 1.5rem
	font-weight 400
	padding 1rem 2.5rem

.counter 
	font-size 3.5rem 
	font-weight 400
			
.dashboard-wrapper
	height calc(100vh - 8rem)
	margin-top 3.5rem
		
/*** MEDIA QUERIES ***/

@media screen and (max-width 992px)
	.dashboard-inner-wrapper
		display block !important
	
	.content-box 
		margin-bottom 2.5rem

	.content-box-4, .content-box-8
		width 100%