/* ================================================ */
/*            		Form Styles      		    */
/* ================================================ */

::-webkit-input-placeholder
	color #ccc
	font-style italic
	font-weight 300
::-moz-placeholder
	color #ccc
	font-style italic
	font-weight 300
:-ms-input-placeholder
	color #ccc
	font-style italic
	font-weight 300
:-moz-placeholder
	color #ccc
	font-style italic
	font-weight 300

fieldset
	border none

form button 
	float right
	
input, textarea
	border 1px solid #111
	font-size 1.5rem
	padding 0.5rem 1rem
	
input:focus, textarea:focus
	outline none
	
label 
	font-size 1.5rem
	font-weight 400

.form-row 
	margin-bottom 2rem 

.form-row:last-child
	margin-bottom 0
	
.login-form 
	border 1px solid #111
	margin 0 auto
	padding 2rem
	width 33rem
	input 
		margin-left auto

.login-form-footer
	width 33rem

.validation-message
	color red
	margin 1.5rem 0

/*** MEDIA QUERIES ***/

@media screen and (max-width 600px)
	.login-form .form-row 
		display block
		input 
			margin-top 0.5rem
	.login-form, .login-form-footer
		width 25.5rem
	