/* ================================================ */
/*             		  Modal Styles                  */
/* ================================================ */

.close-button
	cursor pointer
	font-size 1.5rem
	left 3rem
	margin-left auto
	position relative
	
.modal-box
	background white
	min-height 12rem 
	padding 1.5rem 4.5rem
	position relative

.modal-container
	margin 1.5rem auto 1.5rem auto
	
.modal-overlay
	background rgba(0,0,0,0.6)
	display none
	height 100vh
	position fixed
	width 100%
	z-index 1


.open-modal
	animation fadeIn 0.5s 
	display flex
	align-items center
	justify-content center
	.modal-box 
		animation scaleUp 0.5s
		
.close-modal
	animation fadeOut 0.5s 
	.modal-box 
		animation scaleDown 0.5s
		
/*** MEDIA QUERIES ***/
@media screen and (max-width 992px)
	.modal-box
		width 70%
		
@media screen and (max-width 600px)
	.modal-box
		width 85%