/* ================================================ */
/*              Topbar Component Styles             */
/* ================================================ */

.desktop-menu, .mobile-menu
	display block 
	list-style none
	li 
		margin-right 3.5rem
		a 
			color white
			font-size 1.1rem
			font-weight 300
	li:last-child
		margin-right 0
		
.logo-container 
	height 2.5rem
	.logo 
		height 100%

.mobile-menu
	display none !important		
.toggle-button
	color white
	display none
	font-size 1.6rem
	
.topbar
	background topbarBackground
	cursor pointer
	height 4.5rem
	
/*** MEDIA QUERIES ***/

@media screen and (max-width 992px)
	.desktop-menu 
		display none !important
	
	.logo-container 
		margin 0 auto 
		
	.mobile-menu
		background #161616
		display block !important
		height calc(100vh - 4.5rem)
		left -15rem
		position absolute
		transition all ease 0.5s
		width 15rem
		z-index 1
		.mobile-menu-wrapper
			margin 2.5rem auto 0 auto
			width 85% 
			li 
				border-bottom 1px solid #000
				margin-bottom 1.5rem
				margin-right 0
				padding-bottom 1.5rem
			li:last-child
				border-bottom none
		
	.toggle-button
		display block
	
	.toggle-mobile-menu	
		left 0 
		
	.topbar-wrapper 
		justify-content flex-start !important