/* ================================================ */
/*                   General Styles                 */
/* ================================================ */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800'); //Import Web fonts
@import './partials/*.styl'; //Import styles partials
	
/*** Tags ***/
* 
	box-sizing border-box
	margin 0
	padding 0
a
	color linkColor
	text-decoration none
  
body 
	background backgroundColor
	color textColor
	font-family 'Open Sans', sans-serif
	
h1, h2, h3, h4, h5 
	font-weight 700

html 
	font-size 62.5%

/*** Classes ***/
.bottom-align 
	align-items flex-end
   
.center 
	justify-content center
		
.circle-mask
	border-radius 100%
	overflow hidden

.container 
	height 100%
	margin 0 auto
	width 90%	
					
.flex 
	display flex

.flex-wrap
	flex-wrap wrap

.flex-no-wrap
	flex-wrap wrap
  
.full-width 
	width 100% !important
	 
.horizontal-end 
	justify-content flex-end
  
.horizontal-start 
	justify-content flex-start
	
.responsive-img 
	height auto 
	max-width 100%

.section
	padding-top 6rem
			
.space-around
	justify-content space-around
    
.space-between
	justify-content space-between
	 
.stretch
	align-content stretch 

.strong 
	font-weight 700
	
.text-center 
	text-align center 
	
.top-align 
	align-items flex-start
 
.uppercase 
	text-transform uppercase
	 
.vertical-align 
	align-items center
  
.vertical-items
	flex-direction column